.CompleteGame{
    padding: 15px 5px;
    margin: 20px auto;
    width: 700px;
    border: 1px solid #ccc;
}

.CompleteGame ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 20px;
}

.CompleteGame ul li {
    margin: 5px;
  }

.CompleteGame p{
    padding: 5px;
}